h1 { 
   color: red; 
   background-image: url('https://us.123rf.com/450wm/kazanlena/kazanlena1703/kazanlena170300087/75227020-cream-texture-background-paper-beige-color-parchment-paper-website-background.jpg?ver=6');
   border: 1px solid black;
   }
   p{
   font-family: "normal";
   font-size: 15px;
   font-style: normal;
} 

h2 {
  font-size: 40px;
  font-family: sans-serif;
  background-image: ("https://statics.sportskeeda.com/editor/2018/12/36fa2-15438205015648-800.jpg");
}

img {width: 500px;
height: 300px;}

h3 {
  font-size: 30px;
  font-family: sans-serif;
}
